amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.6
django-allauth==0.25.2
django-autoslug==1.9.3
django-celery==3.1.17
django-cities-light==3.2.0
django-debug-toolbar==1.4
django-tinymce==2.3.0
djangorestframework==3.3.3
kombu==3.0.35
oauthlib==1.1.1
Pillow==3.2.0
progressbar2==3.6.2
psycopg2==2.6.1
python-openid==2.2.5
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.19
Unidecode==0.4.19
