<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ login_form.as_p }}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    <button class="primaryAction" type="submit">Sign In</button>
</form>
<br>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ signup_form.as_p }}
    <button type="submit">Sign Up &raquo;</button>
</form>
</body>
</html>